@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background-color: #fff;
  transition: background-color 4s;
  margin: 12px;
  border-bottom-left-radius: 50%;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  padding: 0;
  text-align: center;
  width: 94px;
  height: 94px;
}
.square:hover{
  background-color: rgb(235, 196, 236);
  width: 100px;
  height: 100px;
  margin: 6px;
  margin-left: 12px;
  transition: background-color, width, height 4s;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.Board {
  margin-top: 15%;
  margin-bottom: 15%;
  display: block;
}
.Reset {
  background-color: white;
  width: 2%;
  height: 30px;
  border: 2px black solid;
  border-radius: 10%;
  margin-left: 49%;
}
p{
  text-align: center;
}
